apiVersion: v1
kind: Secret
metadata:
  name: aurora-credentials
  namespace: default
type: Opaque
stringData:
  r2dbc-url: "r2dbc:postgresql://<AURORA_ENDPOINT>:5432/car_entities"
  username: "postgres"
  password: "<AURORA_PASSWORD>"
