apiVersion: v1
kind: Service
metadata:
  name: producer-api-java-rest
  namespace: default
  labels:
    app: producer-api-java-rest
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: producer-api-java-rest
